@charset "utf-8";
@import url("webfont_imports.css");

a#home_navlink {
    background-color: rgb(9, 32, 181);
}

h2 {
    font-size: 1.25em;
}

img {
    margin: 5px;
    width: 50%;
    height: auto;
    float: left;
}

article p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}


article > section#bio > p:first-of-type:first-letter{
    font-size: 2em;
    vertical-align: baseline;
}

aside > ul > li {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    list-style-position: inside;
    padding-left: 20px;
}

